.table-wrapper#catalogue_brand_links_table
  = index_header('catalogue_brand_links')
  .row.filter-block
    .pull-right
      = search_field
      = link_to action_accusative("catalogue_brand_links", "add"), [:new, :admin, :brand], class: "btn-flat success new-user"
  .row
    = form_tag [:change_visible, :admin, :brands], method: :put do
      %table.table.table-hover.filterable
        %thead
          %tr
            %th.icon
              %i.icon-check-empty.icon-large.check_all
            %th.icon
            %th.icon.sort_th
            %th.sort_th= CatalogueBrandLink.human_attribute_name("catalogue_brand_link")
            %th.icon
            %th
        %tbody
          - @brands.each do |brand|
            %tr{id: "catalogue_brand_link_#{brand.id}"}
              %td.icon= check_box_iconed_tag "catalogue_brand_link_ids[]", brand.id
              %td.icon
                = link_to [:togglevisible, :admin, :brand, id: brand.id], class: 'togglevisible', remote: true, method: :patch do
                  - content_tag :i, '', class: "icon_large #{brand.visible? ? 'icon-eye-open' : 'icon-eye-close not_work'}"

              %td.icon= position_handler(brand)

              -#%td.icon= admin_icon(brand)

              %td= brand.title.presence || brand.brand.try(:title)
              %td
                %ul.actions
                  %li= link_to t(:edit), [:edit, :admin, :brand, id: brand.id], class: 'edit_brand'
                  %li= link_to t(:destroy), [:admin, :brand, id: brand.id], method: :delete, data: {confirm: t('confirm.delete')}, class: 'delete_link'
      = visible_buttons

= multiple_sortable('catalogue_brand_links_table', sort_admin_brands_path)
