.table-wrapper#type_categories_table
  = index_header('type_categories')
  .row.filter-block
    .pull-right
      = search_field
      = link_to action_accusative("type_categories", "add"), [:new, :admin, :type_category], class: "btn-flat success new-user"
  .row
    = form_tag [:change_visible, :admin, :type_categories], method: :put do
      %table.table.table-hover.filterable
        %thead
          %tr
            %th.icon
              %i.icon-check-empty.icon-large.check_all
            %th.icon
            %th.icon.sort_th
            %th.sort_th= TypeCategory.human_attribute_name("type_category")
            %th= TypeCategory.human_attribute_name("grouping")
            %th
        %tbody
          - @type_categories.each do |category|
            %tr{id: "type_category_#{category.id}"}
              %td.icon= check_box_iconed_tag "type_category_ids[]", category.id
              %td.icon
                = link_to [:togglevisible, :admin, category], class: 'togglevisible', remote: true, method: :patch do
                  - content_tag :i, '', class: "icon_large #{category.visible? ? 'icon-eye-open' : 'icon-eye-close not_work'}"

              %td.icon= position_handler(category)

              -#%td.icon= admin_icon(brand)

              %td= category.title.presence
              %td= category.grouping
              %td
                %ul.actions
                  %li= link_to t(:edit), [:edit, :admin, category], class: 'edit_brand'
                  = delete_link(category)
      = visible_buttons

= multiple_sortable('type_categories_table', sort_admin_type_categories_path)
